<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tang.userMode.dao.SysPermissionsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tang.userMode.entity.SysPermissionsEntity">
        <id column="permissions_id" property="permissionsId" />
        <result column="permissions_name" property="permissionsName" />
        <result column="hierarchy" property="hierarchy" />
        <result column="resources_list" property="resourcesList" />
        <result column="sort" property="sort" />
        <result column="parent_id" property="parentId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permissions_id, permissions_name, hierarchy, resources_list, sort, parent_id, create_time, update_time, update_user
    </sql>


    <select id="getUserPermissionsListStrByUserId" parameterType="java.lang.String"  resultType="java.lang.String">
        select
            group_concat(p.resources_list separator ";") resourcesListStr
        from sys_user u
        inner join sys_user_role ur on ur.user_id = u.user_id
        inner join sys_role_permissions rp on rp.role_id = ur.role_id
        inner join sys_permissions p on p.permissions_id = rp.permissions_id
        where u.user_id = #{userId}
        group by u.user_id
    </select>


    <select id="getUserPermissionsListByUserIdAndParentId" resultType="java.util.Map">
        select
            p.permissions_id permissionsId, p.permissions_name permissionsName, p.hierarchy, p.resources_list resourcesList,
            p.sort, p.parent_id parentId, p.icon_url iconUrl, p.href_url hrefUrl
        from sys_user u
        inner join sys_user_role ur on ur.user_id = u.user_id
        inner join sys_role_permissions rp on rp.role_id = ur.role_id
        inner join sys_permissions p on p.permissions_id = rp.permissions_id
        <where>
            <if test="userId != null and userId != ''">
                and u.user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="parentId != null and parentId != ''">
                and p.parent_id = #{parentId, jdbcType=VARCHAR}
            </if>
        </where>
        group by p.permissions_id
        order by p.sort asc
    </select>


    <select id="getUserPermissionsListByParentId" resultType="java.util.Map">
        select
            p.permissions_id permissionsId, p.permissions_name permissionsName, p.hierarchy, p.resources_list resourcesList,
            p.sort, p.parent_id parentId, p.icon_url iconUrl, p.href_url hrefUrl
        from sys_permissions p
        where p.parent_id = #{parentId, jdbcType=VARCHAR}
        order by p.sort asc
    </select>

</mapper>
